<form class="owner-form" [formGroup]="ownerForm">
  <div class="name-cont">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input type="text"
             matInput
             formControlName="lastName"
             placeholder="Иванов">
      <mat-error *ngIf="ownerForm.controls['lastName'].hasError('required')">
        Укажите фамилию
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Имя</mat-label>
      <input type="text"
             matInput
             formControlName="firstName"
             placeholder="Иван">
      <mat-error *ngIf="ownerForm.controls['firstName'].hasError('required')">
        Укажите имя
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Отчество</mat-label>
      <input type="text"
             matInput
             formControlName="middleName"
             placeholder="Иванович">
      <mat-error *ngIf="ownerForm.controls['middleName'].hasError('required')">
        Укажите отчество
      </mat-error>
    </mat-form-field>
  </div>

  <div class="cars-table">
    <table class="table table-striped" [formGroup]="carsForm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Номер</th>
        <th scope="col">Марка</th>
        <th scope="col">Модель</th>
        <th scope="col">Год</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars; index as i">
        <td>{{i + 1}}</td>
        <td>
          <input matInput [formControlName]="'carNum' + i">
        </td>
        <td>
          <input matInput [formControlName]="'carManufactured' + i">
        </td>
        <td>
          <input matInput [formControlName]="'carModel' + i">
        </td>
        <td>
          <input matInput [formControlName]="'carYear' + i">
        </td>
        <td>del</td>
      </tr>
      </tbody>
    </table>
    <button type="button" mat-button color="primary">add car</button>
  </div>
</form>
