<div class="owner-form">
  <div class="name-cont" [formGroup]="ownerForm">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input type="text"
             matInput
             formControlName="lastName"
             placeholder="Иванов">
      <mat-error *ngIf="ownerForm.controls['lastName'].hasError('required')">
        Укажите фамилию
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Имя</mat-label>
      <input type="text"
             matInput
             formControlName="firstName"
             placeholder="Иван">
      <mat-error *ngIf="ownerForm.controls['firstName'].hasError('required')">
        Укажите имя
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Отчество</mat-label>
      <input type="text"
             matInput
             formControlName="middleName"
             placeholder="Иванович">
      <mat-error *ngIf="ownerForm.controls['middleName'].hasError('required')">
        Укажите отчество
      </mat-error>
    </mat-form-field>
  </div>

  <div class="cars-table">
    <table class="table table-striped" [formGroup]="carsForm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Номер</th>
        <th scope="col">Марка</th>
        <th scope="col">Модель</th>
        <th scope="col">Год</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars; index as i">
        <td>{{i + 1}}</td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Введите номер авто</mat-label>
            <input matInput [formControlName]="'num' + car.id" placeholder="АА1234АА">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Введите марку авто</mat-label>
            <input matInput [formControlName]="'manufactured' + car.id">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Введите модель авто</mat-label>
            <input matInput [formControlName]="'model' + car.id">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Введите год выпуска</mat-label>
            <input matInput [formControlName]="'year' + car.id">
          </mat-form-field>
        </td>
        <td>
          <button (click)="deleteCar(car)" type="button" mat-button color="warn">удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="addCar()" type="button" mat-button color="primary">add car</button>
  </div>
</div>
